@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}
.active {
  background-color: rgb(162, 224, 243);
  border-color: #5b9eaf;
}
